<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5"/>-->
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--數據庫連接-->
  
    <!--淮安-->
    <!--<add key="ConnectionString" value="server=10.88.93.104;database=TSC_SFC;uid=TSC_SFC;pwd=Foxconntsc"/>-->
    <!--昆山-->
    <add key="ConnectionString" value="server=10.98.6.74;database=TSC_SFC;uid=sa;pwd=foxconn88"/>

    <!--<add key="ConnectionString" value="server=10.98.6.74;database=TSC_SFC;uid=TSCSFC;pwd=Foxconntsc"/>-->
 

  </appSettings>
</configuration>