<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>

    <add name="Constr" connectionString="Initial Catalog='TSC_SFC';Server='10.98.6.74';uid=TSCSFC;pwd=Foxconntsc;"></add>
  </connectionStrings>
  <appSettings>
    <add key="path1" value="D:\2020年3月21日.csv" />
    <add key="path2" value="C:\Users\J0291876\Desktop" />

    <!--提示:讀取時間間隔不低於3600秒(1小時)-->
  
    <add key="internal" value="3600" />
    
    

    <add key="MachineType" value="Label1\\300DPILabel1.txt" />
    <!-- COM口-->
    <add key="COM" value="COM1"/>
    <!-- 測試機產生的文件類型，欄位橫排還是豎排 Vertical 豎的;Horizontal 橫的,輸入H代表橫排,V代表豎排-->
    <add key="documentType"  value="V" />
  </appSettings>
</configuration>